persistlead/src/main/app/persistlead.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:dynamicscrm="http://www.mulesoft.org/schema/mule/dynamicscrm" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/dynamicscrm http://www.mulesoft.org/schema/mule/dynamicscrm/current/mule-dynamicscrm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8091" doc:name="HTTP Listener Configuration"/>
    <dynamicscrm:online-connection-config name="Microsoft_Dynamics_CRM__Online_Connection" username="vmandala@sierrademo1.onmicrosoft.com" password="@p@55w0rd4crm" organizationServiceUrl="https://sierrademo1.crm3.dynamics.com/XRMServices/2011/Organization.svc" doc:name="Microsoft Dynamics CRM: Online Connection"/>
    <flow name="persistleadFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/saveLead" doc:name="HTTP"/>
        <logger message="***** ***** ***** ***** ***** HTTP Message is Received ***** ***** ***** ***** ***** ==Payload #[payload] ***** ***** ***** ***** *****" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\json.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="***** ***** ***** ***** ***** HTTP Message is Transformed ***** ***** ***** ***** ***** ==Payload #[payload] ***** ***** ***** ***** *****" level="INFO" doc:name="Logger"/>
        <dynamicscrm:create config-ref="Microsoft_Dynamics_CRM__Online_Connection" logicalName="lead" doc:name="Microsoft Dynamics CRM"/>
    </flow>
</mule>
